* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    height: 1024px;
    background-color: rgb(200, 210, 218);
    margin: 0 auto;
    padding: 20px;
    font-size: 0;
}

nav {
    width: 100%;
    height: 80px;
    background-color: #808080;
    margin-bottom: 20px;
}

.top-box-1 {
    width: calc(((927 * 100) / 1400) * 1% - 20px);
    height: 460px;
    background-color: #808080;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

.top-box-2 {
    width: calc(((473 * 100) / 1400) * 1%);
    height: 460px;
    background-color: #808080;
    display: inline-block;
    margin-bottom: 20px;
}

.bottom-box-1 {
    width: calc(((690 * 100) / 1400) * 1% - 20px);
    height: 404px;
    margin-right: 20px;
    background-color: #808080;
    display: inline-block;
    padding: 20px;
    vertical-align: top;
}

.bottom-box-2 {
    width: 710px;
    width: calc(((710 * 100) / 1400) * 1%);
    height: 404px;
    background-color: #808080;
    display: inline-block;
}

.bottom-inner1 {
    width: 305px;
    width: calc(((305 * 100) / 610) * 1% - 20px);
    height: 364px;
    background-color: #d9d9d9;
    display: inline-block;
    margin-right: 20px;
}

.bottom-inner2 {
    width: 305px;
    width: calc(((305 * 100) / 610) * 1%);
    height: 364px;
    background-color: #d9d9d9;
    display: inline-block;
}
