.box {
    margin: 20px auto;
    padding: 50px 20px;
    border: 1px solid #000000;
}
.title {
    margin-top: o;
    margin-bottom: 20px;
    margin: auto;
    padding: 10px;
    border-top: 2px dashed #0000ff;
    border-bottom: 2px dashed #0000ff;
}

.test-box {
    margin-bottom: 30px;
}

.test-box2 {
    margin-top: 50px;
    padding-top: 1px;
}
